
<web-app>
  <!--<display-name>Archetype Created Web Application</display-name>-->

  <!--<servlet>-->
    <!--<servlet-name>test_webApp</servlet-name>-->
    <!--<servlet-class>ItemController</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>test_webApp</servlet-name>-->
    <!--<url-pattern>/item</url-pattern>-->
  <!--</servlet-mapping>-->
</web-app>
